<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
</head>

<body>
    <% if(message) { %>
          <p>message: <%= message %> <!-- to display error message --></p>
      <% } %>
    <h1>Users</h1>
    <ul>
        <% users.forEach(user=> { %>
            <li>
                <p>Name: <%= user.name %>
                </p>
                <p>Email: <%= user.email %>
                </p>
                <a href="/update/<%= user.id %>">Update</a>
                <a href="/delete/<%= user.id %>">Delete</a>
            </li>
            <% }); %>
    </ul>
    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <button type="submit">Add User</button>
    </form>
</body>

</html>